{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- App favicon -->
<link href="{% static 'assets/media/logos/favicon.ico' %}" rel="shortcut icon" />
<!-- Icon CSS -->
<link href="{% static 'ecom/assets/css/vendor/materialdesignicons.min.css' %}" rel="stylesheet" />
<link href="{% static 'ecom/assets/css/vendor/remixicon.css' %}" rel="stylesheet" />
<!-- Vendor -->
<link href="{% static 'ecom/assets/css/vendor/bootstrap.min.css' %}" rel="stylesheet" />
<link href="{% static 'ecom/assets/css/vendor/animate.min.css' %}" rel="stylesheet" />
<link href="{% static 'ecom/assets/css/vendor/owl.carousel.min.css' %}" rel="stylesheet" />
<link href="{% static 'ecom/assets/css/vendor/slick.min.css' %}" rel="stylesheet" />
<link href="{% static 'ecom/assets/css/vendor/swiper-bundle.min.css' %}" rel="stylesheet" />
<link href="{% static 'ecom/assets/css/vendor/nouislider.css' %}" rel="stylesheet" />
<!-- Main CSS -->
<link href="{% static 'ecom/assets/css/style.css' %}" id="mainCss" rel="stylesheet" />
