{% load static %}
<!--begin::Row-->
<div class="row g-5 g-xl-10">
    <!--begin::Col-->
    <div class="col-xl-8">
        <!--begin::Table widget 13-->
        <div class="card card-flush h-xl-100">
            <!--begin::Header-->
            <div class="card-header pt-7">
                <!--begin::Title-->
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bold text-gray-800">Most Popular Sellers</span>
                    <span class="text-gray-500 mt-1 fw-semibold fs-6">Total 424,567 deliveries</span>
                </h3>
                <!--end::Title-->
                <!--begin::Toolbar-->
                <div class="card-toolbar">
                    <!--begin::Daterangepicker(defined in src/js/layout/app.js)-->
                    <div data-kt-daterangepicker="true" data-kt-daterangepicker-opens="left"
                        class="btn btn-sm btn-light d-flex align-items-center px-4">
                        <!--begin::Display range-->
                        <div class="text-gray-600 fw-bold">Loading date range...</div>
                        <!--end::Display range-->
                        <i class="ki-duotone ki-calendar-8 text-gray-500 lh-0 fs-2 ms-2 me-0">
                            <span class="path1"></span>
                            <span class="path2"></span>
                            <span class="path3"></span>
                            <span class="path4"></span>
                            <span class="path5"></span>
                            <span class="path6"></span>
                        </i>
                    </div>
                    <!--end::Daterangepicker-->
                </div>
                <!--end::Toolbar-->
            </div>
            <!--end::Header-->
            <!--begin::Body-->
            <div class="card-body pt-3 pb-4">
                <!--begin::Table container-->
                <div class="table-responsive">
                    <!--begin::Table-->
                    <table class="table table-row-dashed align-middle gs-0 gy-4 my-0">
                        <!--begin::Table head-->
                        <thead>
                            <tr class="fs-7 fw-bold text-gray-500 border-bottom-0">
                                <th class="p-0 min-w-200px"></th>
                                <th class="p-0 min-w-150px"></th>
                                <th class="p-0 min-w-125px"></th>
                                <th class="p-0 min-w-125px"></th>
                                <th class="p-0 w-100px"></th>
                            </tr>
                        </thead>
                        <!--end::Table head-->
                        <!--begin::Table body-->
                        <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="symbol symbol-circle symbol-40px me-3">
                                            <img src="{% static 'assets/media/avatars/300-1.jpg' %}" class="" alt="" />
                                        </div>
                                        <div class="d-flex justify-content-start flex-column">
                                            <a href="account/overview.html"
                                                class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">Brooklyn
                                                Simmons</a>
                                            <span class="text-gray-500 fw-semibold d-block fs-7">Zuid Area</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-end">
                                    <span class="text-gray-800 fw-bold d-block mb-1 fs-6">1,240</span>
                                    <span class="fw-semibold text-gray-500 d-block">Deliveries</span>
                                </td>
                                <td class="text-end">
                                    <a href="#"
                                        class="text-gray-800 fw-bold text-hover-primary d-block mb-1 fs-6">$5,400</a>
                                    <span class="text-gray-500 fw-semibold d-block fs-7">Earnings</span>
                                </td>
                                <td class="float-end text-end border-0">
                                    <div class="rating">
                                        <div class="rating-label checked">
                                            <i class="ki-duotone ki-star fs-6"></i>
                                        </div>
                                        <div class="rating-label checked">
                                            <i class="ki-duotone ki-star fs-6"></i>
                                        </div>
                                        <div class="rating-label checked">
                                            <i class="ki-duotone ki-star fs-6"></i>
                                        </div>
                                        <div class="rating-label checked">
                                            <i class="ki-duotone ki-star fs-6"></i>
                                        </div>
                                        <div class="rating-label checked">
                                            <i class="ki-duotone ki-star fs-6"></i>
                                        </div>
                                    </div>
                                    <span class="text-gray-500 fw-semibold d-block fs-7 mt-1">Rating</span>
                                </td>
                                <td class="text-end">
                                    <a href="#"
                                        class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-25px h-25px">
                                        <i class="ki-duotone ki-black-right fs-2 text-gray-500"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="symbol symbol-circle symbol-40px me-3">
                                            <img src="{% static 'assets/media/avatars/300-2.jpg' %}" class="" alt="" />
                                        </div>
                                        <div class="d-flex justify-content-start flex-column">
                                            <a href="account/overview.html"
                                                class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">Annette
                                                Black</a>
                                            <span class="text-gray-500 fw-semibold d-block fs-7">Zuid Area</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-end">
                                    <span class="text-gray-800 fw-bold d-block mb-1 fs-6">6,074</span>
                                    <span class="fw-semibold text-gray-500 d-block">Deliveries</span>
                                </td>
                                <td class="text-end">
                                    <a href="#"
                                        class="text-gray-800 fw-bold text-hover-primary d-block mb-1 fs-6">$174,074</a>
                                    <span class="text-gray-500 fw-semibold d-block fs-7">Earnings</span>
                                </td>
                                <td class="float-end text-end border-0">
                                    <div class="rating">
                                        <div class="rating-label checked">
                                            <i class="ki-duotone ki-star fs-6"></i>
                                        </div>
                                        <div class="rating-label checked">
                                            <i class="ki-duotone ki-star fs-6"></i>
                                        </div>
                                        <div class="rating-label checked">
                                            <i class="ki-duotone ki-star fs-6"></i>
                                        </div>
                                        <div class="rating-label checked">
                                            <i class="ki-duotone ki-star fs-6"></i>
                                        </div>
                                        <div class="rating-label checked">
                                            <i class="ki-duotone ki-star fs-6"></i>
                                        </div>
                                    </div>
                                    <span class="text-gray-500 fw-semibold d-block fs-7 mt-1">Rating</span>
                                </td>
                                <td class="text-end">
                                    <a href="#"
                                        class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-25px h-25px">
                                        <i class="ki-duotone ki-black-right fs-2 text-gray-500"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="symbol symbol-circle symbol-40px me-3">
                                            <img src="{% static 'assets/media/avatars/300-12.jpg' %}" class="" alt="" />
                                        </div>
                                        <div class="d-flex justify-content-start flex-column">
                                            <a href="account/overview.html"
                                                class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">Esther
                                                Howard</a>
                                            <span class="text-gray-500 fw-semibold d-block fs-7">Zuid Area</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-end">
                                    <span class="text-gray-800 fw-bold d-block mb-1 fs-6">357</span>
                                    <span class="fw-semibold text-gray-500 d-block">Deliveries</span>
                                </td>
                                <td class="text-end">
                                    <a href="#"
                                        class="text-gray-800 fw-bold text-hover-primary d-block mb-1 fs-6">$2,737</a>
                                    <span class="text-gray-500 fw-semibold d-block fs-7">Earnings</span>
                                </td>
                                <td class="float-end text-end border-0">
                                    <div class="rating">
                                        <div class="rating-label checked">
                                            <i class="ki-duotone ki-star fs-6"></i>
                                        </div>
                                        <div class="rating-label checked">
                                            <i class="ki-duotone ki-star fs-6"></i>
                                        </div>
                                        <div class="rating-label checked">
                                            <i class="ki-duotone ki-star fs-6"></i>
                                        </div>
                                        <div class="rating-label checked">
                                            <i class="ki-duotone ki-star fs-6"></i>
                                        </div>
                                        <div class="rating-label checked">
                                            <i class="ki-duotone ki-star fs-6"></i>
                                        </div>
                                    </div>
                                    <span class="text-gray-500 fw-semibold d-block fs-7 mt-1">Rating</span>
                                </td>
                                <td class="text-end">
                                    <a href="#"
                                        class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-25px h-25px">
                                        <i class="ki-duotone ki-black-right fs-2 text-gray-500"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="symbol symbol-circle symbol-40px me-3">
                                            <img src="{% static 'assets/media/avatars/300-11.jpg' %}" class="" alt="" />
                                        </div>
                                        <div class="d-flex justify-content-start flex-column">
                                            <a href="account/overview.html"
                                                class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">Guy
                                                Hawkins</a>
                                            <span class="text-gray-500 fw-semibold d-block fs-7">Zuid Area</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-end">
                                    <span class="text-gray-800 fw-bold d-block mb-1 fs-6">2,954</span>
                                    <span class="fw-semibold text-gray-500 d-block">Deliveries</span>
                                </td>
                                <td class="text-end">
                                    <a href="#"
                                        class="text-gray-800 fw-bold text-hover-primary d-block mb-1 fs-6">$59,634</a>
                                    <span class="text-gray-500 fw-semibold d-block fs-7">Earnings</span>
                                </td>
                                <td class="float-end text-end border-0">
                                    <div class="rating">
                                        <div class="rating-label checked">
                                            <i class="ki-duotone ki-star fs-6"></i>
                                        </div>
                                        <div class="rating-label checked">
                                            <i class="ki-duotone ki-star fs-6"></i>
                                        </div>
                                        <div class="rating-label checked">
                                            <i class="ki-duotone ki-star fs-6"></i>
                                        </div>
                                        <div class="rating-label checked">
                                            <i class="ki-duotone ki-star fs-6"></i>
                                        </div>
                                        <div class="rating-label">
                                            <i class="ki-duotone ki-star fs-6"></i>
                                        </div>
                                    </div>
                                    <span class="text-gray-500 fw-semibold d-block fs-7 mt-1">Rating</span>
                                </td>
                                <td class="text-end">
                                    <a href="#"
                                        class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-25px h-25px">
                                        <i class="ki-duotone ki-black-right fs-2 text-gray-500"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="symbol symbol-circle symbol-40px me-3">
                                            <img src="{% static 'assets/media/avatars/300-3.jpg' %}" class="" alt="" />
                                        </div>
                                        <div class="d-flex justify-content-start flex-column">
                                            <a href="account/overview.html"
                                                class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">Marvin
                                                McKinney</a>
                                            <span class="text-gray-500 fw-semibold d-block fs-7">Zuid Area</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-end">
                                    <span class="text-gray-800 fw-bold d-block mb-1 fs-6">822</span>
                                    <span class="fw-semibold text-gray-500 d-block">Deliveries</span>
                                </td>
                                <td class="text-end">
                                    <a href="#"
                                        class="text-gray-800 fw-bold text-hover-primary d-block mb-1 fs-6">$19,842</a>
                                    <span class="text-gray-500 fw-semibold d-block fs-7">Earnings</span>
                                </td>
                                <td class="float-end text-end border-0">
                                    <div class="rating">
                                        <div class="rating-label checked">
                                            <i class="ki-duotone ki-star fs-6"></i>
                                        </div>
                                        <div class="rating-label checked">
                                            <i class="ki-duotone ki-star fs-6"></i>
                                        </div>
                                        <div class="rating-label checked">
                                            <i class="ki-duotone ki-star fs-6"></i>
                                        </div>
                                        <div class="rating-label checked">
                                            <i class="ki-duotone ki-star fs-6"></i>
                                        </div>
                                        <div class="rating-label checked">
                                            <i class="ki-duotone ki-star fs-6"></i>
                                        </div>
                                    </div>
                                    <span class="text-gray-500 fw-semibold d-block fs-7 mt-1">Rating</span>
                                </td>
                                <td class="text-end">
                                    <a href="#"
                                        class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-25px h-25px">
                                        <i class="ki-duotone ki-black-right fs-2 text-gray-500"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <!--end::Table body-->
                    </table>
                </div>
                <!--end::Table container-->
            </div>
            <!--end: Card Body-->
        </div>
        <!--end::Table widget 13-->
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xxl-4">
        <!--begin::Slider Widget 3-->
        <div id="kt_sliders_widget_3_slider" class="card card-flush carousel slide h-xl-100" data-bs-ride="carousel"
            data-bs-interval="5000">
            <!--begin::Header-->
            <div class="card-header pt-5 mb-5">
                <!--begin::Title-->
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bold text-gray-900">Academic Performance</span>
                    <span class="text-gray-500 mt-1 fw-semibold fs-7">Avg. 72% completed lessons</span>
                </h3>
                <!--end::Title-->
                <!--begin::Toolbar-->
                <div class="card-toolbar">
                    <div class="d-flex justify-content-end">
                        <a href="#kt_sliders_widget_3_slider"
                            class="carousel-control-prev position-relative me-5 active" role="button"
                            data-bs-slide="prev">
                            <i class="ki-duotone ki-left-square fs-2x text-gray-500">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                        </a>
                        <a href="#kt_sliders_widget_3_slider" class="carousel-control-next position-relative me-1"
                            role="button" data-bs-slide="next">
                            <i class="ki-duotone ki-right-square fs-2x text-gray-500">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                        </a>
                    </div>
                </div>
                <!--end::Toolbar-->
            </div>
            <!--end::Header-->
            <!--begin::Body-->
            <div class="card-body p-0">
                <!--begin::Carousel-->
                <div class="carousel-inner">
                    <!--begin::Item-->
                    <div class="carousel-item active show">
                        <!--begin::Title-->
                        <span class="text-gray-800 fw-bold fs-4 mb-3 px-8">Chemistry</span>
                        <!--end::Title-->
                        <!--begin::Statistics-->
                        <div class="d-flex align-items-center w-100 px-8">
                            <!--begin::Number-->
                            <span class="fs-2qx text-gray-800 fw-bold">6</span>
                            <!--end::Number-->
                            <!--begin::Progress-->
                            <div class="progress h-6px w-100 mx-3 bg-light-primary">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 62%"
                                    aria-valuenow="62" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <!--end::Progress-->
                            <!--begin::Value-->
                            <span class="text-gray-500 fw-bold fs-4">62%</span>
                            <!--end::Value-->
                        </div>
                        <!--end::Statistics-->
                        <!--begin::Chart-->
                        <div id="kt_sliders_widget_3_chart_1" class="min-h-auto ps-4 pe-6" style="height: 330px"></div>
                        <!--end::Chart-->
                    </div>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <div class="carousel-item">
                        <!--begin::Title-->
                        <span class="text-gray-800 fw-bold fs-4 mb-3 px-8">Mathematics</span>
                        <!--end::Title-->
                        <!--begin::Statistics-->
                        <div class="d-flex align-items-center w-100 px-8">
                            <!--begin::Number-->
                            <span class="fs-2qx text-gray-800 fw-bold">4</span>
                            <!--end::Number-->
                            <!--begin::Progress-->
                            <div class="progress h-6px w-100 mx-3 bg-light-danger">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 73%"
                                    aria-valuenow="73" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <!--end::Progress-->
                            <!--begin::Value-->
                            <span class="text-gray-500 fw-bold fs-4">73%</span>
                            <!--end::Value-->
                        </div>
                        <!--end::Statistics-->
                        <!--begin::Chart-->
                        <div id="kt_sliders_widget_3_chart_2" class="min-h-auto ps-4 pe-6" style="height: 330px"></div>
                        <!--end::Chart-->
                    </div>
                    <!--end::Item-->
                </div>
                <!--end::Carousel-->
            </div>
            <!--end::Body-->
        </div>
        <!--end::Slider Widget 3-->
    </div>
    <!--end::Col-->
</div>
<!--end::Row-->