<!--begin::Row-->
							<div class="row gy-5 gx-xl-10">
								<!--begin::Col-->
								<div class="col-sm-6 col-xl-2 mb-xl-10">
									<!--begin::Card widget 2-->
									<div class="card h-lg-100">
										<!--begin::Body-->
										<div class="card-body d-flex justify-content-between align-items-start flex-column">
											<!--begin::Icon-->
											<div class="m-0">
												<i class="ki-duotone ki-abstract-41 fs-2hx text-gray-600">
													<span class="path1"></span>
													<span class="path2"></span>
												</i>
											</div>
											<!--end::Icon-->
											<!--begin::Section-->
											<div class="d-flex flex-column my-7">
												<!--begin::Number-->
												<span class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">{{ total_templates }}</span>
												<!--end::Number-->
												<!--begin::Follower-->
												<div class="m-0">
													<span class="fw-semibold fs-6 text-gray-500">Templates</span>
												</div>
												<!--end::Follower-->
											</div>
											<!--end::Section-->
										</div>
										<!--end::Body-->
									</div>
									<!--end::Card widget 2-->
								</div>
								<!--end::Col-->
								<!--begin::Col-->
								<div class="col-sm-6 col-xl-2 mb-xl-10">
									<!--begin::Card widget 2-->
									<div class="card h-lg-100">
										<!--begin::Body-->
										<div class="card-body d-flex justify-content-between align-items-start flex-column">
											<!--begin::Icon-->
											<div class="m-0">
												<i class="ki-duotone ki-archive fs-2hx text-gray-600">
													<span class="path1"></span>
													<span class="path2"></span>
													<span class="path3"></span>
													<span class="path4"></span>
												</i>
											</div>
											<!--end::Icon-->
											<!--begin::Section-->
											<div class="d-flex flex-column my-7">
												<!--begin::Number-->
												<span class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">{{ total_stocks }}</span>
												<!--end::Number-->
												<!--begin::Follower-->
												<div class="m-0">
													<span class="fw-semibold fs-6 text-gray-500">Stock </span>
												</div>
												<!--end::Follower-->
											</div>
											<!--end::Section-->
										</div>
										<!--end::Body-->
									</div>
									<!--end::Card widget 2-->
								</div>
								<!--end::Col-->
								<!--begin::Col-->
								<div class="col-sm-6 col-xl-2 mb-xl-10">
									<!--begin::Card widget 2-->
									<div class="card h-lg-100">
										<!--begin::Body-->
										<div class="card-body d-flex justify-content-between align-items-start flex-column">
											<!--begin::Icon-->
											<div class="m-0">
												<i class="ki-duotone ki-abstract-26 fs-2hx text-gray-600">
													<span class="path1"></span>
													<span class="path2"></span>
												</i>
											</div>
											<!--end::Icon-->
											<!--begin::Section-->
											<div class="d-flex flex-column my-7">
												<!--begin::Number-->
												<span class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">{{ total_products }}</span>
												<!--end::Number-->
												<!--begin::Follower-->
												<div class="m-0">
													<span class="fw-semibold fs-6 text-gray-500">Products</span>
												</div>
												<!--end::Follower-->
											</div>
											<!--end::Section-->
										</div>
										<!--end::Body-->
									</div>
									<!--end::Card widget 2-->
								</div>
								<!--end::Col-->
								<!--begin::Col-->
								<div class="col-sm-6 col-xl-2 mb-xl-10">
									<!--begin::Card widget 2-->
									<div class="card h-lg-100">
										<!--begin::Body-->
										<div class="card-body d-flex justify-content-between align-items-start flex-column">
											<!--begin::Icon-->
											<div class="m-0">
												<i class="ki-duotone ki-people fs-2hx text-gray-600">
													<span class="path1"></span>
													<span class="path2"></span>
													<span class="path3"></span>
												</i>
											</div>
											<!--end::Icon-->
											<!--begin::Section-->
											<div class="d-flex flex-column my-7">
												<!--begin::Number-->
												<span class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">{{ total_employees }}</span>
												<!--end::Number-->
												<!--begin::Follower-->
												<div class="m-0">
													<span class="fw-semibold fs-6 text-gray-500">Employees</span>
												</div>
												<!--end::Follower-->
											</div>
											<!--end::Section-->
										</div>
										<!--end::Body-->
									</div>
									<!--end::Card widget 2-->
								</div>
								<!--end::Col-->
								<!--begin::Col-->
								<div class="col-sm-6 col-xl-2 mb-5 mb-xl-10">
									<!--begin::Card widget 2-->
									<div class="card h-lg-100">
										<!--begin::Body-->
										<div class="card-body d-flex justify-content-between align-items-start flex-column">
											<!--begin::Icon-->
											<div class="m-0">
												<i class="ki-duotone ki-shop fs-2hx text-gray-600">
													<span class="path1"></span>
													<span class="path2"></span>
												</i>
											</div>
											<!--end::Icon-->
											<!--begin::Section-->
											<div class="d-flex flex-column my-7">
												<!--begin::Number-->
												<span class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">{{ total_merchants }}</span>
												<!--end::Number-->
												<!--begin::Follower-->
												<div class="m-0">
													<span class="fw-semibold fs-6 text-gray-500">Merchants</span>
												</div>
												<!--end::Follower-->
											</div>
											<!--end::Section-->
										
										</div>
										<!--end::Body-->
									</div>
									<!--end::Card widget 2-->
								</div>
								<!--end::Col-->
								<!--begin::Col-->
								<div class="col-sm-6 col-xl-2 mb-5 mb-xl-10">
									<!--begin::Card widget 2-->
									<div class="card h-lg-100">
										<!--begin::Body-->
										<div class="card-body d-flex justify-content-between align-items-start flex-column">
											<!--begin::Icon-->
											<div class="m-0">
												<i class="ki-duotone ki-user fs-2hx text-gray-600">
													<span class="path1"></span>
													<span class="path2"></span>
												</i>
											</div>
											<!--end::Icon-->
											<!--begin::Section-->
											<div class="d-flex flex-column my-7">
												<!--begin::Number-->
												<span class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">{{ total_clients }}</span>
												<!--end::Number-->
												<!--begin::Follower-->
												<div class="m-0">
													<span class="fw-semibold fs-6 text-gray-500">Clients</span>
												</div>
												<!--end::Follower-->
											</div>
											<!--end::Section-->
										
										</div>
										<!--end::Body-->
									</div>
									<!--end::Card widget 2-->
								</div>
								<!--end::Col-->
							</div>
							<!--end::Row-->