{% load static %}
<!--begin::Row-->
<div class="row gy-5 g-xl-10">
    <!--begin::Col-->
    <div class="col-xl-4 mb-xl-10">
        <!--begin::List widget 17-->
        <div class="card card-flush h-xl-100">
            <!--begin::Header-->
            <div class="card-header pt-7">
                <!--begin::Title-->
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bold text-gray-800">Popular Products</span>
                    <span class="text-gray-500 mt-1 fw-semibold fs-6">8k social visitors</span>
                </h3>
                <!--end::Title-->
                <!--begin::Toolbar-->
                <div class="card-toolbar">
                    <a href="apps/ecommerce/catalog/add-product.html" class="btn btn-sm btn-light">Add Product</a>
                </div>
                <!--end::Toolbar-->
            </div>
            <!--end::Header-->
            <!--begin::Body-->
            <div class="card-body pt-0">
                <!--begin::Content-->
                <div class="d-flex flex-stack my-5">
                    <span class="text-gray-500 fs-7 fw-bold">ITEM</span>
                    <span class="text-gray-500 fw-bold fs-7">ITEM PRICE</span>
                </div>
                <!--end::Content-->
                <!--begin::Item-->
                <div class="d-flex flex-stack">
                    <!--begin::Wrapper-->
                    <div class="d-flex align-items-center me-3">
                        <!--begin::Icon-->
                        <img src="{% static 'assets/media/stock/ecommerce/14.png' %}" class="me-4 w-50px" alt="" />
                        <!--end::Icon-->
                        <!--begin::Section-->
                        <div class="flex-grow-1">
                            <a href="apps/ecommerce/sales/details.html"
                                class="text-gray-800 text-hover-primary fs-5 fw-bold lh-0">Fjallraven</a>
                            <span class="text-gray-500 fw-semibold d-block fs-7">Item: #XDG-6437</span>
                        </div>
                        <!--end::Section-->
                    </div>
                    <!--end::Wrapper-->
                    <!--begin::Value-->
                    <span class="text-gray-800 fw-bold fs-6">$ 72.00</span>
                    <!--end::Value-->
                </div>
                <!--end::Item-->
                <!--begin::Separator-->
                <div class="separator separator-dashed my-4"></div>
                <!--end::Separator-->
                <!--begin::Item-->
                <div class="d-flex flex-stack">
                    <!--begin::Wrapper-->
                    <div class="d-flex align-items-center me-3">
                        <!--begin::Icon-->
                        <img src="{% static 'assets/media/stock/ecommerce/13.png' %}" class="me-4 w-50px" alt="" />
                        <!--end::Icon-->
                        <!--begin::Section-->
                        <div class="flex-grow-1">
                            <a href="apps/ecommerce/sales/details.html"
                                class="text-gray-800 text-hover-primary fs-5 fw-bold lh-0">Nike AirMax</a>
                            <span class="text-gray-500 fw-semibold d-block fs-7">Item: #XDG-1836</span>
                        </div>
                        <!--end::Section-->
                    </div>
                    <!--end::Wrapper-->
                    <!--begin::Value-->
                    <span class="text-gray-800 fw-bold fs-6">$ 45.00</span>
                    <!--end::Value-->
                </div>
                <!--end::Item-->
                <!--begin::Separator-->
                <div class="separator separator-dashed my-4"></div>
                <!--end::Separator-->
                <!--begin::Item-->
                <div class="d-flex flex-stack">
                    <!--begin::Wrapper-->
                    <div class="d-flex align-items-center me-3">
                        <!--begin::Icon-->
                        <img src="{% static 'assets/media/stock/ecommerce/41.png' %}" class="me-4 w-50px" alt="" />
                        <!--end::Icon-->
                        <!--begin::Section-->
                        <div class="flex-grow-1">
                            <a href="apps/ecommerce/sales/details.html"
                                class="text-gray-800 text-hover-primary fs-5 fw-bold lh-0">Bose QC 35</a>
                            <span class="text-gray-500 fw-semibold d-block fs-7">Item: #XDG-6254</span>
                        </div>
                        <!--end::Section-->
                    </div>
                    <!--end::Wrapper-->
                    <!--begin::Value-->
                    <span class="text-gray-800 fw-bold fs-6">$ 168.00</span>
                    <!--end::Value-->
                </div>
                <!--end::Item-->
                <!--begin::Separator-->
                <div class="separator separator-dashed my-4"></div>
                <!--end::Separator-->
                <!--begin::Item-->
                <div class="d-flex flex-stack">
                    <!--begin::Wrapper-->
                    <div class="d-flex align-items-center me-3">
                        <!--begin::Icon-->
                        <img src="{% static 'assets/media/stock/ecommerce/53.png' %}" class="me-4 w-50px" alt="" />
                        <!--end::Icon-->
                        <!--begin::Section-->
                        <div class="flex-grow-1">
                            <a href="apps/ecommerce/sales/details.html"
                                class="text-gray-800 text-hover-primary fs-5 fw-bold lh-0">Greeny</a>
                            <span class="text-gray-500 fw-semibold d-block fs-7">Item: #XDG-1746</span>
                        </div>
                        <!--end::Section-->
                    </div>
                    <!--end::Wrapper-->
                    <!--begin::Value-->
                    <span class="text-gray-800 fw-bold fs-6">$ 14.50</span>
                    <!--end::Value-->
                </div>
                <!--end::Item-->
                <!--begin::Separator-->
                <div class="separator separator-dashed my-4"></div>
                <!--end::Separator-->
                <!--begin::Item-->
                <div class="d-flex flex-stack">
                    <!--begin::Wrapper-->
                    <div class="d-flex align-items-center me-3">
                        <!--begin::Icon-->
                        <img src="{% static 'assets/media/stock/ecommerce/71.png' %}" class="me-4 w-50px" alt="" />
                        <!--end::Icon-->
                        <!--begin::Section-->
                        <div class="flex-grow-1">
                            <a href="apps/ecommerce/sales/details.html"
                                class="text-gray-800 text-hover-primary fs-5 fw-bold lh-0">Apple Watches</a>
                            <span class="text-gray-500 fw-semibold d-block fs-7">Item: #XDG-6245</span>
                        </div>
                        <!--end::Section-->
                    </div>
                    <!--end::Wrapper-->
                    <!--begin::Value-->
                    <span class="text-gray-800 fw-bold fs-6">$ 362.00</span>
                    <!--end::Value-->
                </div>
                <!--end::Item-->
                <!--begin::Separator-->
                <div class="separator separator-dashed my-4"></div>
                <!--end::Separator-->
                <!--begin::Item-->
                <div class="d-flex flex-stack">
                    <!--begin::Wrapper-->
                    <div class="d-flex align-items-center me-3">
                        <!--begin::Icon-->
                        <img src="{% static 'assets/media/stock/ecommerce/194.png' %}" class="me-4 w-50px" alt="" />
                        <!--end::Icon-->
                        <!--begin::Section-->
                        <div class="flex-grow-1">
                            <a href="apps/ecommerce/sales/details.html"
                                class="text-gray-800 text-hover-primary fs-5 fw-bold lh-0">Friendly Robot</a>
                            <span class="text-gray-500 fw-semibold d-block fs-7">Item: #XDG-2347</span>
                        </div>
                        <!--end::Section-->
                    </div>
                    <!--end::Wrapper-->
                    <!--begin::Value-->
                    <span class="text-gray-800 fw-bold fs-6">$ 48.00</span>
                    <!--end::Value-->
                </div>
                <!--end::Item-->
            </div>
            <!--end::Body-->
        </div>
        <!--end::List widget 17-->
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xl-8 mb-5 mb-xl-10">
        <!--begin::Chart widget 26-->
        <div class="card card-flush overflow-hidden h-xl-100">
            <!--begin::Header-->
            <div class="card-header pt-7 mb-2">
                <!--begin::Title-->
                <h3 class="card-title text-gray-800 fw-bold">Transaction History</h3>
                <!--end::Title-->
                <!--begin::Toolbar-->
                <div class="card-toolbar">
                    <!--begin::Daterangepicker(defined in src/js/layout/app.js)-->
                    <div data-kt-daterangepicker="true" data-kt-daterangepicker-opens="left"
                        class="btn btn-sm btn-light d-flex align-items-center px-4">
                        <!--begin::Display range-->
                        <div class="text-gray-600 fw-bold">Loading date range...</div>
                        <!--end::Display range-->
                        <i class="ki-duotone ki-calendar-8 text-gray-500 lh-0 fs-2 ms-2 me-0">
                            <span class="path1"></span>
                            <span class="path2"></span>
                            <span class="path3"></span>
                            <span class="path4"></span>
                            <span class="path5"></span>
                            <span class="path6"></span>
                        </i>
                    </div>
                    <!--end::Daterangepicker-->
                </div>
                <!--end::Toolbar-->
            </div>
            <!--end::Header-->
            <!--begin::Card body-->
            <div class="card-body d-flex justify-content-between flex-column pt-0 pb-1 px-0">
                <!--begin::Info-->
                <div class="px-9 mb-5">
                    <!--begin::Statistics-->
                    <div class="d-flex align-items-center mb-2">
                        <!--begin::Currency-->
                        <span class="fs-4 fw-semibold text-gray-500 align-self-start me-1">$</span>
                        <!--end::Currency-->
                        <!--begin::Value-->
                        <span class="fs-2hx fw-bold text-gray-800 me-2 lh-1 ls-n2">12,706</span>
                        <!--end::Value-->
                        <!--begin::Label-->
                        <span class="badge badge-success fs-base">
                            <i class="ki-duotone ki-arrow-up fs-5 text-white ms-n1">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>4.5%</span>
                        <!--end::Label-->
                    </div>
                    <!--end::Statistics-->
                    <!--begin::Description-->
                    <span class="fs-6 fw-semibold text-gray-500"></span>
                    <br>
                    <!--end::Description-->



                    <!--begin::Nav-->
                    <ul class="nav nav-pills nav-pills-custom mb-3">
                        <!--begin::Item-->
                        <li class="nav-item mb-3 me-3 me-lg-6">
                            <!--begin::Link-->
                            <a class="nav-link btn btn-outline btn-flex btn-color-muted btn-active-color-primary flex-column overflow-hidden w-80px h-85px pt-5 pb-2 active"
                                data-bs-toggle="pill" href="#kt_stats_widget_6_tab_1">
                                <!--begin::Icon-->
                                <div class="nav-icon mb-3">
                                    <i class="ki-duotone ki-truck fs-1">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                        <span class="path3"></span>
                                        <span class="path4"></span>
                                        <span class="path5"></span>
                                    </i>
                                </div>
                                <!--end::Icon-->
                                <!--begin::Title-->
                                <span class="nav-text text-gray-800 fw-bold fs-6 lh-1">Van</span>
                                <!--end::Title-->
                                <!--begin::Bullet-->
                                <span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>
                                <!--end::Bullet-->
                            </a>
                            <!--end::Link-->
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="nav-item mb-3 me-3 me-lg-6">
                            <!--begin::Link-->
                            <a class="nav-link btn btn-outline btn-flex btn-color-muted btn-active-color-primary flex-column overflow-hidden w-80px h-85px pt-5 pb-2"
                                data-bs-toggle="pill" href="#kt_stats_widget_6_tab_2">
                                <!--begin::Icon-->
                                <div class="nav-icon mb-3">
                                    <i class="ki-duotone ki-bus fs-1">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                        <span class="path3"></span>
                                        <span class="path4"></span>
                                        <span class="path5"></span>
                                    </i>
                                </div>
                                <!--end::Icon-->
                                <!--begin::Title-->
                                <span class="nav-text text-gray-800 fw-bold fs-6 lh-1">Train</span>
                                <!--end::Title-->
                                <!--begin::Bullet-->
                                <span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>
                                <!--end::Bullet-->
                            </a>
                            <!--end::Link-->
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="nav-item mb-3 me-3 me-lg-6">
                            <!--begin::Link-->
                            <a class="nav-link btn btn-outline btn-flex btn-color-muted btn-active-color-primary flex-column overflow-hidden w-80px h-85px pt-5 pb-2"
                                data-bs-toggle="pill" href="#kt_stats_widget_6_tab_3">
                                <!--begin::Icon-->
                                <div class="nav-icon mb-3">
                                    <i class="ki-duotone ki-logistic fs-1">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                        <span class="path3"></span>
                                        <span class="path4"></span>
                                        <span class="path5"></span>
                                        <span class="path6"></span>
                                        <span class="path7"></span>
                                    </i>
                                </div>
                                <!--end::Icon-->
                                <!--begin::Title-->
                                <span class="nav-text text-gray-800 fw-bold fs-6 lh-1">Drone</span>
                                <!--end::Title-->
                                <!--begin::Bullet-->
                                <span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>
                                <!--end::Bullet-->
                            </a>
                            <!--end::Link-->
                        </li>
                        <!--end::Item-->
                    </ul>
                    <!--end::Nav-->







                </div>
                <!--end::Info-->
                <!--begin::Chart-->
                <div id="kt_charts_widget_26" class="min-h-auto ps-4 pe-6" data-kt-chart-info="Transactions"
                    style="height: 300px"></div>
                <!--end::Chart-->
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Chart widget 26-->
    </div>
    <!--end::Col-->
</div>
<!--end::Row-->