{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}
  Inventory | MT&B House
{% endblock %}
{% block extraStyle %}

{% endblock %}
{% block bodyContent %}
  <!-- begin::Toolbar -->
  <div class="toolbar py-5 py-lg-5" id="kt_toolbar">
    <!-- begin::Container -->
    <div id="kt_toolbar_container" class="container-xxl d-flex flex-stack flex-wrap">
      <!-- begin::Page title -->
      <div class="page-title d-flex flex-column me-3">
        <!-- begin::Title -->
        <h1 class="d-flex text-gray-900 fw-bold my-1 fs-3">Templates</h1>
        <!-- end::Title -->
        <!-- begin::Breadcrumb -->
        <ul class="breadcrumb breadcrumb-dot fw-semibold text-gray-600 fs-7 my-1">
          <!-- begin::Item -->
          <li class="breadcrumb-item text-gray-600">
            <a href="/inventory/" class="text-gray-600 text-hover-primary">Inventory</a>
          </li>
          <!-- end::Item -->
          <!-- begin::Item -->
          <li class="breadcrumb-item text-gray-600">Templates</li>
          <!-- end::Item -->
        </ul>
        <!-- end::Breadcrumb -->
      </div>
      <!-- end::Page title -->
      <!-- begin::Actions -->
      <div class="d-flex align-items-center py-2 py-md-1">
        <!-- begin::Wrapper -->
        <div class="me-3">
        <a href="#" class="btn btn-light-primary fw-bold" data-bs-toggle="modal" data-bs-target="#kt_modal_create_app" id="kt_toolbar_primary_button">Create Template</a>
        </div>
        <!-- end::Wrapper -->
          <!-- begin::Button -->
        <a href="#" class="btn btn-primary fw-bold" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">Modes<i class="ki-duotone ki-down fs-5 ms-1"></i></a>
        <!-- begin::Menu -->
        <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-125px py-4" data-kt-menu="true">
          <!-- begin::Menu item -->
          <div class="menu-item px-3">
            <a href="/inventory/stocks/" class="menu-link px-3">Stocks</a>
          </div>
          <!-- end::Menu item -->
          <!-- begin::Menu item -->
          <div class="menu-item px-3 show">
            <a href="/inventory/templates/" class="menu-link px-3" data-kt-ecommerce-category-filter="delete_row">Templates</a>
          </div>
          <!-- end::Menu item -->
          <!-- begin::Menu item -->
          <div class="menu-item px-3">
            <a href="/inventory/categories/" class="menu-link px-3" data-kt-ecommerce-category-filter="delete_row">Categories</a>
          </div>
          <!-- end::Menu item -->
        </div>
        <!-- end::Button -->
      </div>
      <!-- end::Actions -->
    </div>
    <!-- end::Container -->
  </div>
  <!-- end::Toolbar -->
  <!-- begin::Container -->
  <div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
    <!-- begin::Post -->
    <div class="content flex-row-fluid" id="kt_content">
      <!-- begin::Row -->
      <div class="row g-5 g-xl-8">
        {% for i in templates %}
          <!-- begin::Col -->
          <div class="col-xl-4">
            <!-- begin::Mixed Widget 1 -->
            <div class="card card-xl-stretch mb-xl-8">
              <!-- begin::Body -->
              <div class="card-body p-0">
                <!-- begin::Header -->
                <div class="px-9 pt-7 card-rounded h-275px w-100 {{ i.color }}">
                  <!-- begin::Heading -->
                  <div class="d-flex flex-stack">
                    <h3 class="m-0 text-white fw-bold fs-3">{{ i.template_name }}</h3>
                    <div class="ms-1">
                      <!-- begin::Menu -->
                      <button type="button" class="btn btn-sm btn-icon btn-color-white btn-active-white border-0 me-n3" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                        <i class="ki-duotone ki-category fs-6">
                          <span class="path1"></span>
                          <span class="path2"></span>
                          <span class="path3"></span>
                          <span class="path4"></span>
                        </i>
                      </button>
                      <!-- begin::Menu 3 -->
                      <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-semibold w-200px py-3" data-kt-menu="true">
                        <!-- begin::Heading -->
                        <div class="menu-item px-3">
                          <div class="menu-content text-muted pb-2 px-3 fs-7 text-uppercase">Shortcuts</div>
                        </div>
                        <!-- end::Heading -->
                        <!-- begin::Menu item -->
                        <div class="menu-item px-3">
                          <a href="/inventory/products/Template/{{ i.tem_id }}/" class="menu-link px-3">View</a>
                        </div>
                        <!-- end::Menu item -->
                        <!-- begin::Menu item -->
                        <div class="menu-item px-3 my-1">
                          <a href="/inventory/templates/delete-template/{{i.tem_id}}/" class="menu-link px-3">Delete</a>
                        </div>
                        <!-- end::Menu item -->
                      </div>
                      <!-- end::Menu 3 -->
                      <!-- end::Menu -->
                    </div>
                  </div>
                  <!-- end::Heading -->
                  <!-- begin::Balance -->
                  <div class="d-flex text-center flex-column text-white pt-8">
                    <span class="fw-semibold fs-7">Total Balance</span>
                    <span class="fw-bold fs-2x pt-1"><span class="fs-7" style="position: relative; top: -2px">Rs</span>  {{ i.totalbalance }}</span>
                  </div>
                  <!-- end::Balance -->
                </div>
                <!-- end::Header -->
                <!-- begin::Items -->
                <div class="bg-body shadow-sm card-rounded mx-9 mb-9 px-6 py-9 position-relative z-index-1" style="margin-top: -100px">
                  <!-- begin::Item -->
                  <div class="d-flex align-items-center mb-6">
                    <!-- begin::Symbol -->
                    <div class="symbol symbol-45px w-40px me-5">
                      <span class="symbol-label bg-lighten">
                        <i class="ki-duotone ki-compass fs-1">
                          <span class="path1"></span>
                          <span class="path2"></span>
                        </i>
                      </span>
                    </div>
                    <!-- end::Symbol -->
                    <!-- begin::Description -->
                    <div class="d-flex align-items-center flex-wrap w-100">
                      <!-- begin::Title -->
                      <div class="mb-1 pe-3 flex-grow-1">
                        <a href="#" class="fs-5 text-gray-800 text-hover-primary fw-bold">KeyValue Pairs</a>
                        <div class="text-gray-500 fw-semibold fs-7">{{ i.keyvalue_required }} Required</div>
                      </div>
                      <!-- end::Title -->
                      <!-- begin::Label -->
                      <div class="d-flex align-items-center">
                        <div class="fw-bold fs-5 text-gray-800 pe-1">{{ i.keyvalue }}</div>
                      </div>
                      <!-- end::Label -->
                    </div>
                    <!-- end::Description -->
                  </div>
                  <!-- end::Item -->
                  <!-- begin::Item -->
                  <div class="d-flex align-items-center mb-6">
                    <!-- begin::Symbol -->
                    <div class="symbol symbol-45px w-40px me-5">
                      <span class="symbol-label bg-lighten">
                        <i class="ki-duotone ki-element-11 fs-1">
                          <span class="path1"></span>
                          <span class="path2"></span>
                          <span class="path3"></span>
                          <span class="path4"></span>
                        </i>
                      </span>
                    </div>
                    <!-- end::Symbol -->
                    <!-- begin::Description -->
                    <div class="d-flex align-items-center flex-wrap w-100">
                      <!-- begin::Title -->
                      <div class="mb-1 pe-3 flex-grow-1">
                        <a href="#" class="fs-5 text-gray-800 text-hover-primary fw-bold">Categories</a>
                        <div class="text-gray-500 fw-semibold fs-7">{{ i.total_subcategory }} Subcategory</div>
                      </div>
                      <!-- end::Title -->
                      <!-- begin::Label -->
                      <div class="d-flex align-items-center">
                        <div class="fw-bold fs-5 text-gray-800 pe-1">{{ i.total_category }}</div>
                      </div>
                      <!-- end::Label -->
                    </div>
                    <!-- end::Description -->
                  </div>
                  <!-- end::Item -->
             
                  <!-- begin::Item -->
                  <div class="d-flex align-items-center">
                    <!-- begin::Symbol -->
                    <div class="symbol symbol-45px w-40px me-5">
                      <span class="symbol-label bg-lighten">
                        <i class="ki-duotone ki-handcart  fs-1">
                          <span class="path1"></span>
                          <span class="path2"></span>
                        </i>
                      </span>
                    </div>
                    <!-- end::Symbol -->
                    <!-- begin::Description -->
                    <div class="d-flex align-items-center flex-wrap w-100">
                      <!-- begin::Title -->
                      <div class="mb-1 pe-3 flex-grow-1">
                        <a href="#" class="fs-5 text-gray-800 text-hover-primary fw-bold">Products</a>
                        <div class="text-gray-500 fw-semibold fs-7">{{ i.sold_product }} Sold</div>
                      </div>
                      <!-- end::Title -->
                      <!-- begin::Label -->
                      <div class="d-flex align-items-center">
                        <div class="fw-bold fs-5 text-gray-800 pe-1">{{ i.total_product }}</div>
                      </div>
                      <!-- end::Label -->
                    </div>
                    <!-- end::Description -->
                  </div>
                  <!-- end::Item -->
                </div>
                <!-- end::Items -->
              </div>
              <!-- end::Body -->
            </div>
            <!-- end::Mixed Widget 1 -->
          </div>
          <!-- end::Col -->
        {% empty %}
          <!-- begin::Alert -->
          <div class="alert alert-info d-flex align-items-center p-5">
            <!-- begin::Icon -->
            <i class="ki-duotone ki-files fs-2hx text-info me-4">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
            <!-- end::Icon -->

            <!-- begin::Wrapper -->
            <div class="d-flex flex-column">
              <!-- begin::Title -->
              <h4 class="mb-1 text-dark">No Templates Available</h4>
              <!-- end::Title -->

              <!-- begin::Content -->
              <span>You haven't created any product templates yet. Get started by creating your first template to organize your products.</span>
              <!-- end::Content -->
            </div>
            <!-- end::Wrapper -->
          </div>
          <!-- end::Alert -->
        {% endfor %}
      </div>
      <!-- end::Row -->
    </div>
    <!-- end::Post -->
  </div>
  <!-- end::Container -->

  {% include 'dashboard/inventoryPages/addTemplate.html' %}
{% endblock %}
{% block extraScript %}

{% endblock %}
